body {
  background-image: linear-gradient(to bottom,
    rgba(255, 255, 255, 0.25),
    rgba(255, 0, 0, .4)),
    url(./components/images/mainBackground.jpg);
  background-position: top;
  background-size: cover;
  position: relative;
}