.wrapper404 {
    width: 400px;
    height: 520px;
    background-color: rgba(207, 207, 207, 0.801);
    padding: 0px;
    margin-top: 25px;
    border-radius: 7px;
    position: relative;

}

.top404 {
    padding: 7px 5px;
    height: 75px;
    border-radius: 7px 7px 0 0;
    width: 100%;
    background-color: white;
}

.top404 img {
    width: 75%;
}

.middle404 {
    margin-top: 15px !important;
    user-select: none;
    font-size: 65px;
    font-weight: bolder;
    text-shadow: 0 0 1em rgb(54, 54, 54), 0 0 0.2em rgb(126, 126, 126);
    color: rgb(235, 235, 235);
}

.middle404 img {
    width: 300px;
    border-radius: 20px
}

.bottom404 {
    color: black;
    height: 45px;
    border-radius: 0px 0px 7px 7px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottom404 div {
    margin: 11px;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
}

.bottom404:hover {
    background-color: rgb(138, 138, 138);
}