#reviews-widget {
  margin-top: 25px;
  height: 200px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.5));
  overflow: auto;
  border-style: solid;
  border-width: medium;
 }
 #reviewsTitle {
  color: white;
  text-align: center;
  background-image: url(./../images/mainBackground.jpg);
  font-weight: bolder;
  border-style: solid;
  border-width: medium;
  font-family: "Lucida", Console;
  box-shadow: 15em;
  background-attachment: fixed;
 }
 #authorsName {
  color: darkorange;
  font-weight: bold;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
  height: 10px;
 }
 #authorRating {
  font-size: 20px;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  height: 10px;
  width: 30px;
 }
 #authorsTime {
  font-size: 10px;
  color: darkgrey;
  margin-left: 5px;
  margin-right: 5px;
  height: 6px;
 }
 #authorsReview {
  font-size: 16px;
  color: black;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  background-color: rgb(236, 227, 227);
  box-shadow: 2px 2px #888888;
 }
 @media only screen and (max-width: 600px) {
  #reviews-widget {
    height: 75px;
  }
 }