.rbc-calendar {
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 5%;
    margin-left: 5%;
    opacity: .9;
    box-shadow: 0px 5px 20px 20px black;
    font-weight: bold;
    box-shadow: 2px 2px;
}

.rbc-month-row {
    overflow: visible !important;
}

.z1 {
    z-index: -1;
}

.popover {
    color: black;
    position: absolute;
    isolation: isolate;
    z-index: 2;
}

.rbc-event {
    height: 20px;
}

.eventRSVP {
    padding: 5px !important;
}

.rbc-day-bg.rbc-today {
    background-color: rgb(212, 220, 255);
    opacity: .5;
}

#eventSelect {
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

#select-div {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: white;
    border-radius: 5px solid black;
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Lucida Console", Monaco, monospace;
}

#inputLabel {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    margin-top: -20px;
    font-family: "Lucida Console", Monaco, monospace;
    width: 100%;
}

.calendarEvent {
    height: 15px;
}

.rsvpModal {
    display: none
}