.rbc-calendar {
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 5%;
    margin-left: 5%;
    opacity: .9;
    box-shadow: 0px 5px 20px 20px black;    
    font-weight: bold;
    box-shadow: 2px 2px;
}
.rbc-event-content{
    /* background-color: blue */
}
.rbc-event-allday{
    /* visibility: hidden; */
}
.rbc-day-bg.rbc-today {
    background-color: rgb(212, 220, 255);
    opacity: .5;
}