.as-container {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.25),
    rgba(255, 0, 0, .4)),
    url(./components/images/114802-restaurant-kebab-campfire-bonfire-fire-1920x1080.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
}

#as-nav-bar {
  height: 80px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.5));

  color: rgba(255, 255, 255, 0.70);
  font-size: 14px;
  text-align: center;
  padding-top: 25px;
  letter-spacing: 4px;
  font-weight: 700;
  font-family: "Lucida Console", Monaco, monospace
}

.col-8 {
  padding-right: 0px;
}

#title {
  margin-left: 150px;
  float: left;
}

#menu {
  margin-right: 150px;
  float: right;
}

#address {
  clear: both;
  color: black;
  height: 17px;
  line-height: 19px;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.35);
  position: relative;
  top: 17px;
  font-size: 15px;
}

#carousel {
  margin-top: 50px;
  margin-left: 10px;
}

#magic {
  width: 100%;
}

#facebook-widget {
  margin-top: 50px;
  height: 20vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.25);
}

#calendar-widget {
  margin-top: 25px;
  height: 20vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.25);
}

#reviews-widget {
  margin-top: 25px;
  height: 15vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.25);
}